<a href="https://colab.research.google.com/github/afaafa/afaafa/blob/main/Copy_of_Python_06_Looping_%5BKUNCI_JAWABAN%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 6 - Looping
---

Python Programming - Sekolah Data - Pacmann AI

## Task 1
---

**Soal**

---

- Print angka 1 sampai $n$ menggunakan sintaks `for` pada Python!

**Contoh Input:**

---

```python
n = 10
```

**Contoh Output:**

---

```
1
2
3
4
5
6
7
8
9
10
```

**Code disini!**

---

In [ ]:
# Tulis code Anda disini

**Kunci jawaban**

---

In [ ]:
# Tulis code Anda disini

# Variable n
n = 10

# Looping angka n
for angka in range(1, n+1):
    print(angka)

1
2
3
4
5
6
7
8
9
10

## Task 2

---

**Soal**

---

Buatlah sebuah variable `kata` yang berisi saya suka makan nasi pecel, kemudian lakukan perulangan menggunakan sintaks `for` sebanyak `n`!

**Contoh Input:**

---

```python
kata = "saya suka makan nasi pecel"
n = 5
```

**Contoh Output:**

---

```python
Saya suka makan nasi pecel
Saya suka makan nasi pecel
Saya suka makan nasi pecel
Saya suka makan nasi pecel
Saya suka makan nasi pecel
```

**Code disini!**

---

In [ ]:
# Tulis code Anda disini

**Kunci jawaban**

---

In [ ]:
# Tulis code Anda disini

# Variable kata
kata = "Saya suka makan nasi pecel"

# Variable n
n = 5

# Looping angka n
for i in range(n) :

    # Tampilkan kata
    print(kata)

Saya suka makan nasi pecel
Saya suka makan nasi pecel
Saya suka makan nasi pecel
Saya suka makan nasi pecel
Saya suka makan nasi pecel

## Task 3

---

**Soal**

---

- Buatlah sebuah range angka 1 sampai 10, lakukan perulangan menggunakan sintaks `for` pada angka tersebut.
- Buatlah variable `n1` berisi 1 dan `n2` berisi 11

Buatlah kondisi :

- Jika diantara 1 sampai 10 terdapat angka genap maka ganti angka tersebut dengan kata **genap**!
- Jika bukan angka genap maka tampilkan angka tersebut

**Hint**
- Bilangan genap jika hasil sisa bagi sama dengan 0

**Contoh Input:**

---

```python
n1 = 1
n2 = 11
```

**Contoh output:**

---

```
1
genap
3
genap
5
genap
7
genap
9
genap
```

**Code disini!**

---

In [ ]:
# Tulis code Anda disini

**Kunci jawaban**

---

In [ ]:
# Tulis code Anda disini

# Variable n1 dan n2
n1 = 1 # n1
n2 = 11 # n2

# Looping range 1 sampai 10
for i in range(n1, n2):

    # Kondisi jika angka tersebut genap
    if i % 2 == 0:

        # Tampilkan genap
        print("genap")

    # Kondisi jika tidak genap
    else:
        print(i)

1
genap
3
genap
5
genap
7
genap
9
genap

## Task 4

---

**Soal**

----

Hitunglah bilangan deret artimatika menggunakan sintaks `for`!

**Rumus**

$$
\begin{align*}
a_{1} &= 3 \\
a_{i} &= a_{-1} + d \\
S_{n} &= a_{n} + a_{n-1} + \cdots + a_{1}
\end{align*}
$$

$$ \text {S_total} = \text {tambahkan semua suku}$$

Keterangan:
- $a_{1}$ adalah suku pertama
- $a_{i}$ adalah suku selanjutnya
- $d$ adalah selisih antar 2 suku berturut-turut
- $S_{n}$ adalah  jumlah total dari ${n}$ suku deret aritmatika.

Misal :
- Suka pertama ($s_{1}$)  = 3
- Suku kedua ($s_{2}$) = 3 + 5 = 8
- Suku ketiga ($s_{3}$) = 8 + 5 = 13
- Suku keempat ($s_{4}$) = 13 + 5 = 18
- Suku kelima ($s_{5}$) = 18 + 5 = 23

**Contoh Input:**

---

```python
suku_pertama = 3
selisih = 5
jumlah_suku = 5
```

**Contoh Output:**

---

```python
Suku ke-1 (a1)= 3, Jumlah deret sementara = 3
Suku ke-2 (a2)= 8, Jumlah deret sementara = 11
Suku ke-3 (a3)= 13, Jumlah deret sementara = 24
Suku ke-4 (a4)= 18, Jumlah deret sementara = 42
Suku ke-5 (a5)= 23, Jumlah deret sementara = 65

Jumlah deret aritmatika: 65
```

**Code disini!**

---

In [ ]:
# Tulis code Anda disini

**Kunci jawaban**

---

In [ ]:
# Tulis code Anda disini

# Variabel untuk deret aritmatika
suku_pertama = 3
selisih = 5
jumlah_suku = 5

# Penampung hasil
jumlah_deret = 0

# Hitung dan tampilkan satu per satu
for indeks_suku_sebelumnya in range(jumlah_suku):

    # Hitung suku ke-i dan tambahkan ke jumlah deret
    suku_ke_i = suku_pertama + indeks_suku_sebelumnya * selisih
    jumlah_deret += suku_ke_i

    # Tampilkan langkah per langkah
    print(f"Suku ke-{indeks_suku_sebelumnya + 1} (a{indeks_suku_sebelumnya + 1})"
          f"= {suku_ke_i}, Jumlah deret sementara = {jumlah_deret}")

# Menampilkan hasil akhir
print(f'\nJumlah deret aritmatika: {jumlah_deret}')

Suku ke-1 (a1)= 3, Jumlah deret sementara = 3
Suku ke-2 (a2)= 8, Jumlah deret sementara = 11
Suku ke-3 (a3)= 13, Jumlah deret sementara = 24
Suku ke-4 (a4)= 18, Jumlah deret sementara = 42
Suku ke-5 (a5)= 23, Jumlah deret sementara = 65

Jumlah deret aritmatika: 65

## Task 5

---

**Soal**

---

- Buatlah tabel perkalian 1 sampai 100 dengan melakukan dua kali perulangan menggunakan sintaks `for`!
- Buatlah variable `n1` berisi 1 dan `n2` berisi 11

**Contoh Input:**

---

```python
n1 = 1
n2 = 11
```

**Contoh Output:**

---

```python
1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100
```

**Code disini!**

---

In [ ]:
# Tulis code Anda disini

**Kunci jawaban**

---

In [ ]:
# Tulis code Anda disini

# Variable n1 dan n2
n1 = 1 # n1
n2 = 11 # n2

# Looping 1 sampai 10
for i in range(n1, n2):

    # Looping 1 sampai 10
    for j in range(n1, n2):

        # Buat perkalian looping 1 dan looping 2
        print(i * j, end='\t')

    # Tampilkan dalam bentuk deret ke bawah
    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

## Task 6

---

**Soal**

---

- Buatlah sebuah variable `kode_telpon_negara`
- Misal :
    - kode_telpon_negara berisi +62, +1, +44, dan +81, beripe `list`
- Keluarkan isi list kode telpon negara tersebut menggunakan sintaks `for`!

**Contoh Input:**

---

```python
kode_telpon_negara = ["+62", "+1", "+44", "+81"]
```

**Contoh Output:**

---

```python
+62
+1
+44
+81
```

**Code disini!**

---

In [ ]:
# Tulis code Anda disini

**Kunci jawaban**

---

In [ ]:
# Tulis code Anda disini

# Variable kode telpon negara
kode_telpon_negara = ["+62", "+1", "+44", "+81"]

# Looping untuk mengeluarkan isi kode telpon negara
for i in kode_telpon_negara :

    # Tampilkan kode negara telpon
    print(i)

+62
+1
+44
+81

## Task 7

---

**Soal**

---

- Buatlah sebuah variable `stock` dalam bentuk dictionary
- `key` berisi gula, tepung, beras, dan sayur
- `value` berisi id_001, id_002, id_003, dan id_004
- Gunakan perulangan `for` untuk menampilkan `key` dan `value` tersebut!

**Contoh Input:**

---

```python
stock = {
        "gula": "id_001",
        "tepung": "id_002",
        "beras": "id_003",
        "sayur": "id_004"
        }
```

**Contoh Output:**

---

```python
gula | id_001
tepung | id_002
beras | id_003
sayur | id_004
```

**Code disini!**

---

In [ ]:
# Tulis code Anda disini

**Kunci jawaban**

---

In [ ]:
# Tulis code Anda disini

# Variable stock
stock = {
        "gula": "id_001",
        "tepung": "id_002",
        "beras": "id_003",
        "sayur": "id_004"
        }

# Looping dictionary
for key_, value_ in stock.items():

    # Tampilkan key dan value
    print(f"{key_} | {value_}")

gula | id_001
tepung | id_002
beras | id_003
sayur | id_004

## Task 8

---

**Soal**

---

Di sebuah sekolah, guru sejarah sedang melakukan absensi kehadiran pada siswanya.
- Buatlah sebuah variable `nama_siswa` yang berisi list Jono, Joni, Joko, dan Mulyono
- Lakukan perulangan menggunakan sintaks `for` pada list tersebut
- Urutkan list tersebut dimulai dari angka 1 menggunakan `enumerate`!

**Contoh Input:**

---

```python
nama_siswa = ["Jono", "Joni", "Joko", "Mulyono"]
```

**Contoh Output:**

---

```python
1 Jono
2 Joni
3 Joko
4 Mulyono
```

**Code disini!**

---

In [ ]:
# Tulis code Anda disini

**Kunci jawaban**

---

In [ ]:
# Tulis code Anda disini

# Variable nama_siswa
nama_siswa = ["Jono", "Joni", "Joko", "Mulyono"]

# Looping nama dan urutan
for i, nama in enumerate(iterable = nama_siswa, start = 1) :

    # Tampilkan hasilnya
    print(i, nama)

1 Jono
2 Joni
3 Joko
4 Mulyono

## Task 9

---

**Soal 9**

---

- Simpan dictionary ke dalam sebuah variable `dict_class`
- `key` berisi `I, II, III, IV, dan V` dengan `value`
    - `key` `I` berisi list `[10, 12]`
    - `key` `II` berisi list `[10]`
    - `key` `III` berisi list `[10, 20, 30, 40]`
    - `key` `IV` berisi list `[20]`
    - `key` `V` `[80]`

- Lakukan perulangan menggunakan sintaks `for` untuk menemukan `key` yang memiliki jumlah element terpendek!

**Contoh Input:**

---

```python
dict_class = {
              'I': [10, 12],
              'II': [10],
              'III': [10, 20, 30, 40],
              'IV': [20],
              'V': [10, 30, 50, 70],
              'VI': [80]
            }
```

**Contoh Output:**

---

```python
['II', 'IV', 'VI']
```

**Code disini!**

---

In [ ]:
# Tulis code Anda disini

**Kunci jawaban**

---

In [ ]:
# Tulis code Anda disini

# Variable dict
dict_class = {
              'I': [10, 12],
              'II': [10],
              'III': [10, 20, 30, 40],
              'IV': [20],
              'V': [10, 30, 50, 70],
              'VI': [80]
            }

# Looping untuk menghitung panjang setiap value
panjang_angka = (len(length) for length in dict_class.values())

# Temukan jumlah panjang list terpendeknya
min_len = min(panjang_angka)

# Buat penyimpanan key
result = []

# Looping untuk menemukan key dengan list angka terpendek
for key, value in dict_class.items() :

    # Kondisi jika value dict sama dengan jumlah terpendek
     if len(value) == min_len :

        # Tambahkan hasil temuan ke dalam list kosong
         result.append(key)

# Tampilkan hasilnya
print(result)

['II', 'IV', 'VI']

## Task 10

---

**Soal**

---

- Simpan angka 10 ke dalam variable `angka`
- Lakukan perulangan menggunakan sintaks `while` untuk menghitung mundur 10 sampai 1

**Contoh Input:**

---

```python
angka = 10
```

**Contoh Output:**

---

```python
10
9
8
7
6
5
4
3
2
1
```

**Code disini!**

---

In [ ]:
# Tulis code Anda disini

**Kunci jawaban**

---

In [ ]:
# Tulis code Anda disini

# Variable angka
angka = 10

# Looping hitung mundur
while angka >= 1:

    # Tampilkan angka
    print(angka)

    # Kurangi nilai 10 untuk iterasi selanjutnya
    angka -= 1

10
9
8
7
6
5
4
3
2
1

## Task 11

---

**Soal**

---

- Buatlah beberapa variable :
    - Misal :
        - `length` berisi angka 5
    - variable `count` berisi angka 0 untuk counter setiap angka
    - `a, b` berisi angka 0, 1 untuk elemen deret pertama
- Gunakan perulangan sintaks `while` untuk menghasilkan deret Fibonacci dengan panjang tertentu.
- Deret Fibonacci dimulai dari 0, 1, 1, 2, 3, 5, 8, ... di mana setiap elemen adalah penjumlahan dua elemen sebelumnya.

**Perhitungan manual fibonacci!**

- a = 0, b = 1, cetak 0, (a, b) = (1, 1)
- a = 1, b = 1, cetak 1, (a, b) = (1, 2)
- a = 1, b = 2, cetak 1, (a, b) = (2, 3)
- a = 2, b = 3, cetak 2, (a, b) = (3, 5)
- a = 3, b = 5, cetak 3, (a, b) = (5, 8)

**Contoh Input:**

---

```python
length = 5
a, b = 0, 1
```

**Contoh Output:**

---

```python
0
1
1
2
3
```

**Code disini!**

---

In [ ]:
# Tulis code Anda disini

**Kunci jawaban**

---

In [ ]:
# Tulis code Anda disini

# Variable length
length = 5

# Inisialisasi dua elemen pertama deret Fibonacci
a, b = 0, 1

# Inisialisasi counter
count = 0

# Looping untuk menghasilkan deret Fibonacci
while count < length:

    # Cetak elemen saat ini
    print(a)

    # Hitung elemen berikutnya
    a, b = b, a + b

    # Tambahkan ke counter
    count += 1

0
1
1
2
3

## Task 12

---

**Soal**

---

- Diberikan daftar beberapa tahun dalam variabel `tahun`
    - `[2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032]`
- Cari tahun kabisat dari daftar tadi dan simpan dalam list `tahun_kabisat`
- Gunakan sintaks `for` untuk menemukan apakah tahun tersebut adalah tahun kabisat!

Ketentuan tahun kabisat :

- Angka tahun habis dibagi 400
- Angka tahun habis dibagi 100 bukan merupakan tahun kabisat
- Angka tahun habis di bagi 4

**Contoh Input:**

---

```python
tahun = [2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032]
tahun_kabisat = []
```

**Contoh Output:**

---

```python
[2024, 2028, 2032]
```

**Code disini!**

---

In [ ]:
# Tulis code Anda disini

**Kunci jawaban**

---

In [ ]:
# Tulis code Anda disini

# Variable Tahun
tahun = [2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032]

# Variable penyimpanan
tahun_kabisat = []

# Looping pengecekan tahun kabisat
for i in tahun :

    # Kondisi jika habis dibagi 400
    if i % 400 == 0 :

        # Simpan ke dalam list
        tahun_kabisat.append(i)

    # Kondisi jika habis dibagi 100 maka tidak termasuk tahun kabisat
    elif i % 100 == 0 :

        # pass
        pass

    # Kondisi jika habis dibagi 4
    elif i % 4 == 0 :

        # Simpan ke dalam list
        tahun_kabisat.append(i)

    # Kondisi jika tidak terdapat pada ketentuan kabisat
    else:

        # Pass
        pass

# Tampilkan hasil
print(tahun_kabisat)

[2024, 2028, 2032]

## Task 13

---

**Soal**

---

- Buatlah sebuah variable `kalimat` yang berisi saya adalah orang yang rajin
- Buatlah sebuah variable `vokal` untuk penyimpanan.
- Lakukan perulangan menggunakan sintaks `for` untuk menghitung jumlah huruf vokal di dalamnya
- Simpan temuan ke dalam variable `vokal`!

**Hint**
- Huruf vokal terdiri dari `a, i, u, e, o`

**Contoh Input:**

---

```python
kalimat = "sayA adalah orAng yang rajIn"
vokal = 0
```

**Contoh Output:**

---

```python
Jumlah huruf vokal pada kalimat tersebut adalah : 10
```

**Code disini!**

---

In [ ]:
# Tulis code Anda disini

**Kunci jawaban**

---

In [ ]:
# Tulis code Anda disini

# Variable kalimat
kalimat = "sayA adalah orAng yang rajIn"

# Variable penyimapanan
vokal = 0

# Looping untuk menemukan huruf vokal
for i in kalimat :

    # Ubah kalimat menjadi huruf kecil
    i = i.lower()

    # Kondisi jika terdapat huruf vokal
    if i == 'a' or i == 'i' or i == 'u' or i == 'e' or i == 'o' :

        # Simpan ke dalam variable vokal
        vokal = vokal + 1

# Tampilkan variable vokal
print(f'Jumlah huruf vokal pada kalimat tersebut adalah : {vokal}')

Jumlah huruf vokal pada kalimat tersebut adalah : 10

## Task 14

---

**Soal**

---

- Buatlah sebuah variable `customer` yang berisi :

    - `{"cust1":2_000_000, "cust2":3_500_000, "cust3":1_250_000, "cust4":400_000, "cust5":90_000} `

- Kemudian buatlah perulangan dengan sintaks `for` untuk mengitung diskon yang didapatkan oleh masing-masing customer tersebut.

Ketentuannya :

- Jika total belanja kurang dari Rp. 100.000, maka tampilkan pesan **Total belajaan cust adalah 123**
- Jika total belanja antara Rp. 100.000  Rp. 500.000, maka tampilkan pesan **'Selamat, cust mendapat diskon 10% dengan total belanjaan 123**
- Jika total belanja antara Rp. 500.000  Rp. 1.000.000, maka tampilkan pesan **'Selamat, cust mendapat diskon 20% dengan total belanjaan 123**
- Jika total belanja diatas Rp.1.000.000, maka tampilkan pesan **'Selamat, cust mendapat diskon 30% dengan total belanjaan 123**

**Contoh Input:**

---

```python
customer berisi {"cust1":2_000_000, "cust2":3_500_000, "cust3":1_250_000, "cust4":400_000, "cust5":90_000}
```

**Contoh Output:**

---

```python
Selamat, cust1 mendapat diskon 30% dengan total belanjaan 1400000.0
Selamat, cust2 mendapat diskon 30% dengan total belanjaan 2450000.0
Selamat, cust3 mendapat diskon 30% dengan total belanjaan 875000.0
Selamat, cust4 mendapat diskon 10% dengan total belanjaan 360000.0
Total belajaan cust5 adalah 90000
```

**Code disini!**

---

In [ ]:
# Tulis code Anda disini

**Kunci jawaban**

---

In [ ]:
# Tulis code Anda disini

# Variable customer
customer = {"cust1":200_0000,
            "cust2":3_500_000,
            "cust3":1_250_000,
            "cust4":400_000,
            "cust5":90_000}

# Loop untuk cek diskon
for cust, val in customer.items():

    # Cek diskon
    if val < 100_000:
        diskon = 0.0        # jika belanja < 100.000
    elif val <= 500_000:
        diskon = 0.1        # jika belanja < 500.000
    elif val <= 1_000_000:
        diskon = 0.2        # jika belanja < 1.000.000
    else:
        diskon = 0.3        # jika belanja > 1.000.000

    # Cari total belanjaan
    # Total belanja = total awal - total diskon
    total_belanja = val - diskon * val

    # Buat tampilan total pembayaran
    if diskon > 0:
        print(f'Selamat, {cust} mendapat diskon {diskon*100:.0f}% '
              f'dengan total belanjaan {total_belanja:.1f}')
    else:
        print(f'Total belajaan {cust} adalah {val:.1f}')

Selamat, cust1 mendapat diskon 30% dengan total belanjaan 1400000.0
Selamat, cust2 mendapat diskon 30% dengan total belanjaan 2450000.0
Selamat, cust3 mendapat diskon 30% dengan total belanjaan 875000.0
Selamat, cust4 mendapat diskon 10% dengan total belanjaan 360000.0
Total belajaan cust5 adalah 90000

## Task 15

---

**Soal**

---

- Buatlah sebuah list yang berisi :
    - Misal :
        - angka 1 sampai 10
- Carilah angka ganjil di dalam list tersebut
- Kuadratkan yang merupakan angka gajil pada list
- Gunakan perulangan sintaks `for` comprehension untuk melakukan perhitungan tersebut!

**Hint**
- Bilangan gajil adalah hasil sisa bagi sama dengan 1

**Contoh Input:**

---

```python
n1 = 1
n2 = 11
```

**Contoh Output:**

---

```python
[1, 9, 25, 49, 81]
```

**Code disini!**

---

In [ ]:
# Tulis code Anda disini

**Kunci jawaban**

---

In [ ]:
# Tulis code Anda disini

# Variable n1 dan n2
n1 = 1 # n1
n2 = 11 # n2

# Variable perhitungan kuadrat pada bilangan ganjil
kuadrat_ganjil = [i ** 2 for i in range(1, 11) if i % 2 == 1]

# Tampilkan hasil kuadrat pada bilangan ganjil
print(kuadrat_ganjil)

[1, 9, 25, 49, 81]

## Task 16

---

**Soal**

---

- Buatlah sebuah variable `list_asal` yang berisi list `1, -2, 3,-4, 5, dan -6`
- Lakukan perulangan sintaks `for` comprehension untuk pengecekan pada angka tersebut.

Ketentuan :
- Jika angka positive maka tampilkan **Positive**
- Jika angka negative maka tampilkan **Negative**

**Contoh Input:**

---

```python
list_asal =  [1, -2, 3,-4, 5, -6]
```

**Contoh Output:**

---

```python
['Positif', 'Negatif', 'Positif', 'Negatif', 'Positif', 'Negatif']
```

**Code disini!**

---

In [ ]:
# Tulis code Anda disini

**Kunci jawaban**

---

In [ ]:
# Tulis code Anda disini

# Variable list
list_asal = [1, -2, 3, -4, 5, -6]

# Looping comprehension
hasil = ["Positive" if i > 0  else "Negative" for i in list_asal]

# Tampilkan hasil
print(hasil)

['Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Negative']

## Task 17

---

**Soal**

---

- Buatlah sebuah variable `list_a` dan `list_b`
    - `list_a` berisi 1, 2, dan 3
    - `list_b` berisi 4, 5, dan 6
- Gabungkan dan tambahkan kedua variable tersebut menggunakan perulangan sintaks `for` comprehension!

**Contoh Input:**

---

```python
list_a = [1, 2, 3]
list_b = [4, 5, 6]
```

**Contoh Output:**

---

```python
[5, 6, 7, 6, 7, 8, 7, 8, 9]
```

**Code disini!**

---

In [ ]:
# Tulis code Anda disini

**Kunci jawaban**

---

In [ ]:
# Tulis code Anda disini

# Variable list a dan b
list_a = [1, 2, 3] # List a
list_b = [4, 5, 6] # List b

# Gabungkan dan tambahkan variable list_a dan list_b
gabungan = [x + y for x in list_a for y in list_b ]

# Tampilkan hasil
print(gabungan)

[5, 6, 7, 6, 7, 8, 7, 8, 9]